# Environment variables
.env
.env.*

# Virtual Environment
venv/
venv311/
env/

# VS Code
.vscode/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db